<div class="container">
  <div class="row">
  	<div class="col-md-6">
    
          <form class="form-signup" action="/form/update/<%= form.id %>"  method="POST">
          <fieldset>

            <div id="legend">
              <legend class="">Edit the Sports Details</legend>
            </div>
            <div class="control-group">
              <label class="control-label" for="formname">formname</label>
              <div class="controls">
                <input type="text" id="formname" value="<%=form.faculty_name%>" name="formname" placeholder="" class="form-control input-lg" >
              </div>
            </div>
         
             <div class="control-group">
              <label class="control-label" for="title">Title</label>
              <div class="controls">
                <input type="text"  id="title" name="title" placeholder="" class="form-control input-lg">
              </div>
            </div>

            <div class="faculty_address_name">
              Address of the facility:
              <input type="text"  value="<%=form.faculty_add%>"  name="faculty_add" class="address">
            </div>

            <div class="name">
              Owner/Owners of the facility:
              <input type="text" value="<%=form.own_first_name%>"  name="own_first_name" class="registration_contents" placeholder="First Name">
              <input type="text" value="<%=form.own_middle_name%>" name="own_middle_name" class="registration_contents" placeholder="Middle Name">
              <input type="text" value="<%=form.own_last_name%>" name="own_last_name" class="registration_contents" placeholder="Last Name">
              <span class="error">*</span>
            </div>

            <div class="name">
              Owner/Oweners contact numbers, emails:
              <input type="text" value="<%=form.own_email%>"  name="own_email" class="registration_contents" placeholder="Contact No / Email">
              <span class="error">*</span>

              <br>
            </div>

            <div class="name">
               Some regular members of those facilites: 
               Emails:
               <input type="text"  name="reg_membr_email" value="<%=form.reg_membr_email%>" class="registration_contents" placeholder="Emails">
               Contact Numbers:<input type="text" value="<%=form.reg_membr_cont%>"  name="reg_membr_cont" class="registration_contents" placeholder="Contact No">
            </div>
             
            <div class="name">   
               What all sports are available in any facility and their description:
               <input type="text" value="<%= form.sport_avail%>"  name="sport_avail" class="address" placeholder="Sports Names">
              <span class="error">*</span>

            </div> 
            <div class="name">
             If coaching is provided then what are the charges:
             <input type="text" value="<%=form.choch_charg %>"  name="choch_charg" class="registration_contents" placeholder="Charges">
            </div>

            <div class="name">
               Contact details ( phone, email) of instructors:
               <input type="text" value="<%= form.instruc_email %>" name="instruc_email" class="registration_contents" placeholder="Emails">
            </div>

             <div class="name">
               Is equipments provided by the ground, if yes then list of equipments, charges for equipments:
               <input type="text" value="<%= form.equp_charg %>"  name="equp_charg" class="address" placeholder="Equipments and Charges">
            </div>

            <div class="name">
               Change timing
               <input type="time" value="<%=form.specific_time %>"  name="specific_time" step="1" class="registration_contents" placeholder="Time">
            </div>

            <div class="name">
               How old is the facility. i.e the founding date of the facility.
               <input type="date" value="<%= form.found_date %>" name="found_date" class="registration_contents"/> <br>
                Opening timings:
                <input type="time" step="1" name="open_timing" value="<%= form.open_timing%>" class="registration_contents"/> 
                Closing timings:
                <input type="time" step="1" name="close_timing" value="<%= form.close_timing%>" class="registration_contents"/> <br>
            </div>

            <div class="name">
              multiple fields name.
              <input type="text" vaue="<%= form.multi_field_name %>" name="multi_field_name" class="registration_contents" placeholder="Multiple fields Names"><br>
           </div> 

           <div class="name">
              Number of coaches the facility has:
              <input type="number" value="<%= form.no_coach%>" name="no_coach" class="numbers"><br>
              Their personal info like name, age, mobile no., qualification, years of experience:
              <input type="text" value="<%=form.coach_name %>"  name="coach_name" class="registration_contents" placeholder="Faculty Name">
              <input type="number" value="<%= form.coach_age %>" name="coach_age" class="numbers" placeholder="age">
              Experience <input type="number" value="<%= form.coach_exp%>" name="coach_exp" class="numbers" placeholder="Exp">
          </div>

          <div class="name">
              Complete fee structure:
              <input type="text" value="<%= form.fee_col_1%>"  name="fee_col_1" class="registration_contents" placeholder="Column-1"> 
              <input type="text"  name="fee_col_2" value="<%= form.fee_col_2%>" class="registration_contents" placeholder="Column-2">
              <input type="text"  name="fee_col_3" value="<%= form.fee_col_3%>" class="registration_contents" placeholder="Column-3"><br>
          </div>

          <div class="name">
              For facilities with ground booking options-> fee structure and other requirements for booking ground:
              <input type="text" value="<%=form.oth_requir%>"  name="oth_requir" class="address" placeholder="fee structure and other requirement"><br>
          </div>

          <div class="name">
              A summary column about the facility:
              <input type="text" value="<%= form.summ %>" name="summ" class="registration_contents" placeholder="Summry"><br>
          </div>

          <div class="name">
              Name of the branch owner(head of the branch):
              <input type="text" value="<%= form.branch_own_first_name %>" name="branch_own_first_name" class="registration_contents" placeholder="First Name">
            <input type="text" value="<%= form.branch_own_middle_name%>" name="branch_own_middle_name" class="registration_contents" placeholder="Middle Name">
            <input type="text" value="<%= form.branch_own_last_name %>"  name="branch_own_last_name" class="registration_contents" placeholder="Last Name"><br>
          </div>

          <div class="name">
              Fee structure for booking Ground:
              <input type="text" value="<%= form.fee_ground %>" name="fee_ground" class="registration_contents" placeholder="Charges"><br>
          </div>


            <div class="control-group">
              <!-- Button -->
              <div class="controls">
                <button  class="btn btn-primary btn-block">Proceed</button>
                <input type="hidden" name="_csrf" value="<%= _csrf %>">
              </div>
            </div>
          </fieldset>
        </form>
    
    </div> 
  </div>
</div>