<div class="container">
	<h1><%= form.faculty_name %></h1>
	<h3><%= form.faculty_add %></h3>
	<h3>Contact:<%= form.email %></h3>
	<h3><%= form.own_first_name %></h3>
	<h3><%= form.own_middle_name %></h3>
	<h3><%= form.own_last_name %></h3>
	<h3><%= form.own_email %></h3>
	<h3><%= form.on_book_faci%></h3>
	<h3><%= form.coll_mantra%></h3>
	<h3>Image    </h3>
	<h3><%= form.reg_membr_email %></h3>
	<h3><%= form.reg_membr_cont %></h3>
	<h3><%= form.sport_avail %></h3>
	<h3><%= form.coach_sport %></h3>
	<h3><%= form.choch_charg %></h3>
	<h3><%= form.instruc_email %></h3>
	<h3><%= form.req_equp %></h3>
	<h3><%= form.equp_charg %></h3>
	<h3><%= form.spec_time %></h3>
	<h3><%= form.specific_time %></h3>
	<h3><%= form.found_date %></h3>
	<h3><%= form.open_timing %></h3>
	<h3><%= form.close_timing %></h3>
	<h3><%= form.oth_branch %></h3>
	<h3><%= form.branch_detail %></h3>
	<h3><%= form.multi_field %></h3>
	<h3><%= form.multi_field_name %></h3>
	<h3><%= form.if_multi_field %></h3>
	<h3><%= form.no_coach %></h3>
	<h3><%= form.coach_name %></h3>
	<h3><%= form.coach_age %></h3>
	<h3><%= form.coach_exp %></h3>
	<h3><%= form.fee_col_1 %></h3>
	<h3><%= form.fee_col_2 %></h3>
	<h3><%= form.fee_col_3 %></h3>
	<h3><%= form.oth_requir %></h3>
	<h3><%= form.summ%></h3>
	<h3><%= form.branch_own_first_name %></h3>
	<h3><%= form.branch_own_middle_name %></h3>
	<h3><%= form.branch_own_last_name %></h3>
	<h3><%= form.ground_book %></h3>
	<h3><%= form.fee_ground %></h3>
	 
	<a class="btn btn-lg btn-success" href="/form">All Data</a>
</div>